.apple-header {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%), -moz-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHVQTFRFAAAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F5YtmQAAAACd0Uk5TAAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmZiD6WAAAAdlJREFUeF7t3btuFEEQheFzunotGYkIERA4spn3fyeHiAgEEtsXB82s2eEJavR%2F0Wjyo75XWfHpw4MkSXNqCkA2lr2%2B%2Fvz63n15qpI0x5yTSAM52XaxJLVXf%2FkoaY6xQk2sgXy8Ql2KJf3wS5HG6HMMQg3kZNkuxVGKNLxJo48%2BxhxTpBrIx7JcXEqUKJI3zd77CjWLaiAle4U6Iixv6q33MfocTL%2BBlCy7OEqJqCFvs%2FV2m3%2BTaiAd6zb7rlHtrbc1VA%2Bm30BSa%2B%2B7RNSo4a21thbVTL%2BBnCy7rCV1rdXbtbXW%2B%2Bh%2Ft78BZLM2v6NE1Fov%2FrpC3Zl%2BA2l5H6lrrRe%2FXNu%2BqCbUQE57qGvsoW5t9D4H028gJculOKLUWuvFz%2B16O9NipAZSsm8nWpfq53ZlTQ3k9s%2BamlADZ0CogZMh1MDJEGrgZAg1cDL%2Fh5ojLSC1%2ByMtLp8A2R0un3BNFEjv%2FpooDzqA9O4fdPD0Esju8PSSIglAdsciCZQzArI7lDOat30yCg8CGe2FB1eovZcI7oMSwUBSq0TwWlQHxfyBEzgW86ftDpDase0ODfKA7A4N8mhlC2R318r2px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%, -moz-linear-gradient(bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%);
    top: 18px;
    position: relative;
    display: block;
    width: 980px;
    height: 36px;
    margin: 18px auto;
    text-align: left;
    z-index: 9998;
    border-radius: 4px;
    text-align: left;
    font: 12px/18px Helvetica, Arial, Verdana, sans-serif;
}

.navigation {
    display: table;
    float: left;
    width: 845px;
    table-layout: fixed;
    height: 28px;
}

ul {
    list-style: none outside;
    margin: 3px;
}

.navigation li {
    display: table-cell;
    width: 100%;
    overflow: hidden;
    height: 26px;
    color: #fff;
    text-align: center;
}

body {
    font:  "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}


.navigation li:hover {
    background: #575757;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAQAAADifZiHAAAAJ0lEQVQIW2P4L8zE8JeJ4R8q%2Bo%2BKCIH%2FjEA1TAyMSIgJRkIQM9BYAGa0Dj%2FXpUiAAAAAAElFTkSuQmCC') repeat-x 0 0, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAE0lEQVQIW2P8z8jAwMAIh0wICAAa0gETv9XXOgAAAABJRU5ErkJggg%3D%3D') repeat-y 100% 0, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAEklEQVQIW2P8L8TwDwn%2Bh0MGAKnjDAIoAAlcAAAAAElFTkSuQmCC') repeat-y 0 0, rgba(0, 0, 0, .4);
}

.icon {
    width: 20px;
    margin-bottom: -6px;
}

.nav-search {
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
    background-image: none;
    background-color: rgba(255,255,255,.1);
}

#sp-searchtext {
    position: relative;
    width: 100px;
    margin-top: 5px;
    margin-left: -10px;
    height: 19px;
    padding: 2px 18px 1px 22px;
    background-color: rgba(0,0,0,0.1);
    box-sizing: border-box;
    border: 0 none;
    border-top: 1px solid black;
    border-radius: 50px;
    color: white;
}

.search-icon {
    position: absolute;
    width: 20px;
    top: 6px;
}

h1 {
    margin-top: 5%; 
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    font-size: 40px;
    font-family:  Helvetica, Arial, Verdana, sans-serif;
}

.everyone {
    color: white; 
    font-family:  Helvetica, Arial, Verdana, sans-serif;
    text-align: center;
    margin-right: 25%;
    margin-left: 20%;
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

.content {
    margin-bottom: 15%;
}

.bottom-img {
    width: 318px;
    height: 200px;
}

.main-content {
    background: url("hero.jpg") no-repeat bottom;
    height: 500px;
}

.footer {
    display: inline;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    min-width: 900px;
    padding: 0;
    color: #6e6e6e;
    font-size: 9px;
    line-height: 1.2;
    text-align: left;
}

.footer a {
    text-decoration: none;
    color: #08c;
}

.footer-content {
    display: flex;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.footer-nav {
    display: flex;
    margin-top: 10px;
    width: 560px;
}


.footer-nav li {
    border-right: 1px solid #ccc;
    padding-right: 5px;
    padding-left: 3px;
    margin-bottom: -10px;
    height: 10px;
    font-size: 9px;
}

.last-footer {
    margin-left: 12%;
    font-size: 9px;
}

.left-footer {
    font-size: 9px;
    width: 500px;
}
